<% if @readings.any? %>

<center>
<h1>Dehumidifier is currently <%= @dehumidifier_state.on ? "on" : "off" %></h1>

<h1>Inside Temperature <%= number_with_precision @last_reading.temperature, :precision => 0 %>&deg;F</h1>

<h1>Inside Humidity <%= number_with_precision @last_reading.humidity, :precision => 0 %>%</h1>

<h1>Outside Temperature <%= number_with_precision @last_reading.outside_temperature, :precision => 0 %>&deg;F</h1>

<h1>Outside Humidity <%= number_with_precision @last_reading.outside_humidity, :precision => 0 %>%</h1>

</center>
  
</br>

<%= line_chart [
  {name: "Temp", data: @readings.map {|x| [x.created_at, x.temperature] }},
  {name: "Outside Temp", data: @readings.map {|x| [x.created_at, x.outside_temperature] }},
], :max => @max_temp_value, :min => @min_temp_value
%>

</br>

<%= line_chart [
  {name: "Humidity", data: @readings.map {|x| [x.created_at, x.humidity] }},
  {name: "Outside Humidity", data: @readings.map {|x| [x.created_at, x.outside_humidity] }}
], :max => @max_humidity_value, :min => @min_humidity_value
%>

<% else %>
  <center><h2>Doesn't look like you have any readings yet!</h2></center>
<% end %>
